name: scrollview_observer
description: A widget for observing data related to the child widgets being displayed in a scrollview.
version: 1.10.0
homepage: https://github.com/LinXunFeng/flutter_scrollview_observer

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

